body {
  background-image: url("https://images.theconversation.com/files/410222/original/file-20210707-21-wemgmo.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

.container {
    width: 100vw;
    height: 75vh;

    display:flexbox ;
    overflow-y: scroll;
    
  }

  #annoyance {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 10%;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .card-container{
    margin-left:10px
  }
  
  .page-header {
    margin-left: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .navbar {
    background-color: khaki;
  }  
  .link-style {
    display: inline-block;
    padding: 15px;
    
  }  
  .content-large {
    grid-row-start: 3;
    grid-row-end: 5;
    width: 83vw ;
    height: 33vw;
    display: grid;
    margin-left: 20px;
  }
  .card {
    width: 75vw;
    background-color: khaki;
    padding: 1px;
    border: 1px solid #000;
    margin-bottom: 15px;
    
  }
  .card-image{
    height: 200px;
    width: 200px;
  }
  .form {
   display: flexbox;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding: 7px; 
   }
   .instructions {
    font-size: large;
    font-style: italic;
    margin-left: 55px;

   }